[Unit]
Description=Raspberry Pi Network Manager
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/rpi-net-manager service
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
